@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Fredoka+One&family=Poppins:wght@300&family=Saira&display=swap');
/* font-family: 'Bungee Hairline', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Saira', sans-serif; */

/* colors ==> #CBAE38(gold) */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

/*=============== style container of the avion card =================*/

.header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/learjet-1636124443335-5209.jpg');
    background-size: cover;
    background-position: center;

}

.container-card-avion {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-family: 'Saira', sans-serif;
    background-color: rgb(35, 35, 35);
    /* background-image: url('../images/backgrounds/backgroundCuir.jpg'); 
     background-size: cover;
  background-color: #fff; */
}

/*=============== style of the card component =================*/

.card {
    width: 260px;
    height: 260px;
    margin: 20px 0;
    background-color: #ebebeb;
    border: 2px solid #091932;
    border-radius: 5px;
    /* color: rgba(255, 196, 0, 0.659); */
    color: black;
    animation: animate-card 1.6s ease-in-out;
    transition:  .5s linear;
}

.card:hover {    
    transform: translateY(-3px) scale(1.01);
}

@keyframes animate-card {
    0% {
        transform: translateY(1200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.card-container-img {
    height: 100%;
    overflow: hidden;
    transition: .5s;
}

.img-card {
    width: 100%;
    height: 100%;
    transition: .5s ease-in;
}



.card-container-infos {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    padding: 10px;
    border-top: 2px solid rgb(67, 67, 67);
}

.info-aircraft {
    border-bottom: 1px solid #efefef;
    font-weight: bold;
}

.info-aircraft span {
    /* color: #efefef; */
    color: black;
    font-weight: 500;
    padding: 0 5px;
}