@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Fredoka+One&family=Poppins:wght@300&family=Saira&display=swap');
/* font-family: 'Bungee Hairline', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Saira', sans-serif; */

/* colors ==> #CBAE38(gold) */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}


/*=============== style container of the avion card =================*/

.header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/learjet-1636124443335-5209.jpg');
    background-size: cover;
    background-position: center;
}

.container-card-avion {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 200px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 30%);
    grid-template-rows: repeat(auto-fill, auto);
    justify-content: center;
    justify-items: center;
    align-items: flex-start; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Saira', sans-serif;
    background-image: url('../images/backgrounds/backgroundCuir.jpg');
    background-size: cover;
    background-attachment: fixed;
}


/*=============== style of the card component =================*/

.card {
    width: 300px;
    height: auto;
    margin: 20px 45px;
    background-color: #ebebeb;
    /* border: 2px solid #091932; */
    border-radius: 2px;
    color: black;
    animation: animate-card 0.9s ease-in;
    transform-origin: bottom;
    box-shadow: 2px 2px 40px 20px #0ff;
    animation-delay: 500ms;
}

@keyframes animate-card {
    0%{
        opacity: 0;
        transform:  rotateX(-90deg);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateY(0px) translateX(0px);
    }
}

.card-container-infos {
    width: 100%;
    height: 30%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    align-items: center;
    padding: 20px 10px;
}

.card-container-infos h3 {
    padding: 20px 0;
    text-align: center;
}

.list {
    padding: 0;
    font-size: 1.1rem;
}

.list-item {
    margin-bottom: 5px;
}

.icon {
    padding-right: 5px;
}

.card button {
    border-radius: 5px;
    background-color: #4D4D4D;
    color: #efefef;
    letter-spacing: 1px;
    font-size: 1.2rem;
    outline: none;
}

.card button:hover {
    background-color: #5f5f5f;
}

/* info jet by category  */

.containerJetCategory {
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 35, 35);
}

.containerJetCategory h1 {
    text-align: center;
    padding-top: 100px;
    color: #efefef;
}