@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Fredoka+One&family=Poppins:wght@300&family=Saira&display=swap');
/* font-family: 'Bungee Hairline', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Saira', sans-serif; */

/* colors ==> #CBAE38(gold) */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

.container-detail-avion {
    position: relative;
    width: 100%;
    height: 100vh;
}

.btn-return-aircrafts {
    position: absolute;
    top: 30px;
    right: 40px;
    border-radius: 5px;
    border-top-left-radius: 90%;
    border-bottom-left-radius: 40%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 700;
    color: white;
    z-index: 222;
    outline: none;
    transform: scale(0.9);
}

.btn-return-aircrafts:hover {
    /* background-color: rgb(98, 166, 255); */
    background-color: rgba(255, 217, 0, 0.487);
    color: white;
}

.header-avion-detail {
    position: relative;
}

.img-header {
    width: 100vw;
    height: auto;
    overflow: hidden;
}

.description-specification {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding: 50px;
    text-align: justify;
    line-height: 32px;
    font-size: 1.2rem;
    color: #f1f1f1;
    background: linear-gradient(45deg, black, rgb(98, 166, 255));
}

.title-lines {
    display: flex;
    align-items: flex-start;
}

.title-lines h2 {
    width: 200px;
    margin-bottom: 50px;
}

.lines {
    width: 100%;
    animation: animateLines 1s ease-out 1;
    transition: width 2000;
}

@keyframes animateLines {
    0% {
        width: 0%;
        transform: translateX(-220px) translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        width: 100%;
        opacity: 1;
        transform: translateX(0px) translateY(0px);
    }
}

.line-1 {
    width: 20%;
    height: 1px;
    margin: 10px 0 0 10px;
    background-color: white;
}

.line-2 {
    width: 30%;
    height: 1.5px;
    margin: 10px 0 0 10px;
    background-color: white;
}

.line-3 {
    width: 45%;
    height: 2px;
    margin: 10px 0 0 10px;
    background-color: white;
}

.aircraft-specification {
    margin-top: 50%;
}

.list-detail-ul {
    line-height: 40px;
}

.list-detail-li {
    position: relative;
    font-weight: bold;
}
.list-detail-li span {
    position: absolute;
    right: 5%;
    margin-left: 10px;
    font-weight: normal;
}

.img-cabin {
    width: 100vw;
    height: auto;
    overflow: hidden;
    padding: 10px 30px 10px 10px;
}